<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <main id="mai">
      <div >
        <h1 id="headi">Welcome to the <%= title %> page</h1>
        </div>
        
        <img src="Assets\images\WhatsApp Image 2022-06-01 at 12.06.52 AM.jpeg" id="im1">
        <h3 id="myname"><%= na %></h3>
        <p id="two"><%= pp %></p>
    </main>
    <footer class="page-footer font-small pt-4">
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
