<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


    <main >
      <div >
        <h1 >Welcome to the <%= title %> page</h1>
        <p id="par1"><%= p1 %></p>
        </div>
    </main>
    <footer class="page-footer font-small pt-4">

      
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>