<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <main >
      <div >
        <h1 >Welcome to the <%= title %> page</h1>
        </div>
        
        <img src="Assets\images\12-Websites-You-Should-Check-Out-to-Learn-Web-Development-Fast.png" id="ser1">
        <p id="two"></p>
        <a href=""></a>     
        <img src="" id="c1">  
        <p id="three"></p> 
        <img src="" id="c2">   
        <p id="four"></p>   
        <img src="" id="c3">  
        <p id="five"></p>
        <div id="d1">   
        </div>
    </main>
    <footer class="page-footer font-small pt-4">

      
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
